<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to the Flask Chat Home Page</title>

</head>

<body>
    
    <form method="POST">
        <label for="username">Username:</label>
        <br>
        <input type="text" id="username" name="username">
        <br>
        <button type = "submit">Go to the chat room!</button>
    </form>
    <p><strong>To send a message use the following syntax:</strong> /USERNAME/MESSAGE</p>

</body>

</html>
